In [235]:
alle_total = 0 

with open("20151001_hundenamen.csv") as file:
    for line in file:
        line_split
        total_hund = 0
        if file == 'Aaron':
        total_hund = total_hund + 1
        print(total_hund)

IndentationError: expected an indented block (<ipython-input-235-880d9b156074>, line 7)

In [27]:
with open("20151001_hundenamen.csv") as file:
    for line in file:
        line.split(',')
        total = 0
        if 'aaron' == line[0]:
            total = total + 1
            print(line[1])
        else:
            continue
            print(total)

In [59]:
with open("20151001_hundenamen.csv") as file:
    for line in file:
        new = line.split(',')
        dogname = new[0]
        if dogname == 'Aaron':
            print(dogname) 
        else:
            continue

In [241]:
### Datei öffnen
with open("20151001_hundenamen.csv") as file:

SyntaxError: unexpected EOF while parsing (<ipython-input-241-03135e249050>, line 2)

In [297]:
with open("20151001_hundenamen.csv") as file:
    total_dog = 0
    for line in file:
        data = line.split(',')
        if data == "Aaron":
            for new in data:
            dogname
                total_dog = total_dog + 1
                print(total_dog)

In [260]:
with open("20151001_hundenamen.csv") as file:
    total_dog = 0
    for line in file:
        data = line.split(",")
        dogname = data[0]
        if 'aaron' in dogname.lower():
            for new in dogname:

IndentationError: unexpected indent (<ipython-input-260-d923608b3eb9>, line 9)

In [271]:
with open("datei.csv",) as file:
    print(file)

<_io.TextIOWrapper name='datei.csv' mode='r' encoding='UTF-8'>

In [267]:
with open("20151001_hundenamen.csv") as file:
   total_dog = 0
   for line in file:
       data = line.split(",")

       dogname = data[0]
 
       if "aaron" in dogname.lower():
           if int(data[1]) >= 2000 and int(data[1]) <= 2012:
               total_dog = total_dog + 1
           print(data[0] + " / " + data[1])
   print()
   print("Zwischen 2000 und 2012 wurden " + str(total_dog) + " Hunde auf den Namen Aaron getauft.")

"Aaron" / 2011
"Aaron" / 2005
"Aaron" / 2011
"Aaron" / 2005

Zwischen 2000 und 2012 wurden 4 Hunde auf den Namen Aaron getauft.

In [232]:
liste = ['madi', 'badi', 'madi', 'madi', 'madi']

ende = 0

for resultat in liste:
    if resultat == 'madi':
        ende = ende + 1
print(ende)

4

In [265]:
with open("20151001_hundenamen.csv") as file:

ende = 0   

for new in file:
    if new == 'Aaron'
        ende = ende + 1
print(new)

IndentationError: expected an indented block (<ipython-input-265-bb2b91b64b64>, line 3)

In [209]:
file = open("20151001_hundenamen.csv", 'r')

for resultat in file:
    if resultat[2] == 'Aaron':
        print(resultat)
        
print(resultat)

"whity (Osmar)",2003,"m"

In [79]:
Preis = input('Preisli: ')   

def tg_generator(Preis):
    print("Total: " +str(Preis) 
          +"\nTrinkgeld 5% " +str(int(Preis) *1.1)) #hier ganz wichtige Lektion = str(int(Preis) * xxxx)
          
tg_generator(Preis)

Preisli: 4
Total: 4
Trinkgeld 5% 4.4

In [80]:
#plottis lösung

def tipp_generator(price):
   ## prozente in Liste fix hinterlegt
   prozente = [5,10,15,20]
   print("Preis des Essens: " + str(price))
   for i in range(0,4):
       print("Mit " + str(prozente[i]) + " % Trinkgeld: " +
       str(int(price) * (1 + prozente[i]/100)))
## fragt den Preis ab
price = input("Preis: ")  
tipp_generator(price)

Preis: 4
Preis des Essens: 4
Mit 5 % Trinkgeld: 4.2
Mit 10 % Trinkgeld: 4.4
Mit 15 % Trinkgeld: 4.6
Mit 20 % Trinkgeld: 4.8

In [62]:
Preis = input('Preis: ')
print("Total: " +str(Preis) + "Trinkgeld " +(str(Preis)*1.1))

Preis: 3

TypeError: can't multiply sequence by non-int of type 'float'

In [46]:
Preis = input('Preis: ')

Preis: 23

In [65]:
Preis = 23

print("Total: " +str(Preis))

Total: 23